{% extends 'cliente/side-bar.html' %}

{% block content %}
    <main>
        <section>
            <div class="container-fluid">
                <div
                        id="card"
                        class="card container p-3 mx-auto bg-blue"
                        style="max-width: max-content"
                >
                    <div class="card-body text-center">
                        <h3>Loans</h3>
                        <h4 class="card-title text-center mb-3">
                            Online Banking
                        </h4>
                        <div class="card-text">
                            <form class="mt-0" method="POST">
                                {% csrf_token %}
                                <!-- Username Input -->
                                <div class="form-outline  form-white mb-4">
                                    <input
                                            type="text"
                                            id="usernameInput"
                                            class="form-control {% if error %} is-invalid{% endif %} "
                                            name="username"
                                            placeholder="John.D0e"
                                            required
                                    />
                                    <label class="form-label" for="usernameInput">Username</label>
                                    <div class="invalid-feedback">{{ error }}</div>
                                </div>
                                <div class="form-outline  form-white input-group mt-2 mb-5">
                                    <!-- Show/Hide Password -->

                                    <input
                                            type="password"
                                            name="password"
                                            id="passwordInput"
                                            class="form-control {% if error %} is-invalid{% endif %} form-icon-trailing"
                                            required
                                    />
                                    <span class="input-group-text">
                                    <i id="showPasswordIcon"
                                       class="fas fa-eye"
                                       aria-hidden="true"
                                       onclick="onShowPassword()">
                                    </i>
                                </span>
                                    <label class="form-label" for="passwordInput">Password</label>
                                    <div class="invalid-feedback">{{ error }}</div>
                                </div>

                                <!-- Sign In Button -->
                                <div class="text-center w-auto">
                                    <button
                                            type="submit"
                                            class="btn btn-success btn-lg w-100 mb-3 bg-green"
                                    >
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}