<!-- Header -->
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <!-- Bank Brand -->
            <div class="row me-auto ms-2">
                <a class="navbar-brand" href="#">
                    <h3>ITBANK</h3>
                </a>
            </div>
            <!-- Bank Brand -->
            <!-- Toggle button -->
            <a
                    class="ms-auto d-lg-none me-2"
                    type="button"
                    aria-label="Log Out"
                    href="{% url 'logout' %}"
            >
                <p class="text-dark fs-5 pt-3"><i class="fa-solid fa-right-from-bracket"></i> Log Out </p>
            </a>

            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#collapsableMenu"
                    aria-controls="collapsableMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="collapsableMenu">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-lg-none">
                    <!-- Home -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'me' %}">
                            <i class="fa-solid fa-house-user"></i>
                            <p class="ms-1 d-none d-sm-inline">Home</p>
                        </a>
                    </li>
                    <!-- Accounts -->
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-piggy-bank"></i>
                            <p class="ms-1 d-none d-sm-inline">Accounts</p>
                        </a>
                    </li>
                    <!-- Cards -->
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link"
                                href="#"
                                id="cards-dropdown"
                                role="button"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <i class="fa-solid fa-wallet"></i>
                            <p class="ms-1 d-none d-sm-inline">Cards</p>
                        </a>
                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="cards-dropdown">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa-solid fa-credit-card"></i>
                                    <p class="ms-1 d-none d-sm-inline">Cards</p>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa-solid fa-plane-departure"></i>
                                    <p class="ms-1 d-none d-sm-inline">Enable for Travel</p>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                    <p class="ms-1 d-none d-sm-inline">Report Lost</p>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa-solid fa-lock"></i>
                                    <p class="ms-1 d-none d-sm-inline">Banelco Password</p>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa-solid fa-child-reaching"></i>
                                    <p class="ms-1 d-none d-sm-inline">Debit Card for Kids</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Transactions -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-arrow-right-arrow-left"></i>
                            <p class="ms-1 d-none d-sm-inline">Transactions</p>
                        </a>
                    </li>
                    <!-- Loans -->
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                            <p class="ms-1 d-none d-sm-inline">Loans</p>
                        </a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
    </nav>
    <!-- Navbar -->
</header>
<!-- Header -->