/* Background colors ========================================================================== */
.bg-blue {
  background-color: #126bc5;
  color: whitesmoke;
}

.bg-green {
  background: #398100;
  color: whitesmoke;
}

.bg-white {
  background: whitesmoke;
  color: black;
}

.bg-gray {
  background: #585858;
  color: whitesmoke;
}
