.body {
  margin: 50px;
  background: url(img/andrea-cau-nV7GJmSq3zc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.table {
  background-color: aliceblue;
  border-style: groove;
  border-color: #0A456C;
  
}
.intro{
    background-color: aliceblue;
    padding: 5px;
    border-style: groove;
    border-color: #0A456C;
}
